In [61]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [62]:
df = pd.read_pickle("data/data_limpieza.pickle")

In [63]:
df.head(2)

,level_0,index,time,age,gender,pais,formacion,puesto,experiencia_prog,lenguaje_top,...,uso_ml,salario,inversion_ml,ppal_herramienta_data,lenguaje_prog,plataforma,plat_cursos,nubes,plataforma_top,salario_max
0,0,0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,...,No (we do not use ML methods),25000-29999,$100-$999,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"edX,Kaggle Learn Courses,DataCamp,Udacity,Udemy","GitHub , Kaggle",NaN,29999
1,1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,...,We are exploring ML methods (and may one day p...,60000-69999,$0 ($USD),"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook","Kaggle Learn Courses,Cloud-certification progr...",NaN,NaN,69999

In [64]:
df.sample(5)

,level_0,index,time,age,gender,pais,formacion,puesto,experiencia_prog,lenguaje_top,...,uso_ml,salario,inversion_ml,ppal_herramienta_data,lenguaje_prog,plataforma,plat_cursos,nubes,plataforma_top,salario_max
22174,22174,22174,120465,18-21,Man,Indonesia,Bachelor’s degree,Student,< 1 years,R,...,NaN,NaN,NaN,NaN,"Python, C","RStudio , Spyder,Jupyter Notebook",NaN,NaN,NaN,NaN
8330,8330,8330,898,40-44,Man,Portugal,Master’s degree,Data Scientist,5-10 years,R,...,We use ML methods for generating insights (but...,40000-49999,$0 ($USD),"Advanced statistical software (SPSS, SAS, etc.)",R,RStudio,University Courses (resulting in a university ...,NaN,NaN,49999
9227,9227,9227,1094,35-39,Man,India,Professional doctorate,Machine Learning Engineer,10-20 years,Python,...,We are exploring ML methods (and may one day p...,0-999,$100-$999,"Basic statistical software (Microsoft Excel, G...","Python, SQL, Java, MATLAB","PyCharm ,MATLAB","Kaggle Learn Courses,Udemy",Kaggle,NaN,999
16282,16282,16282,953,40-44,Man,Poland,Master’s degree,Software Engineer,20+ years,Python,...,No (we do not use ML methods),60000-69999,$0 ($USD),"Basic statistical software (Microsoft Excel, G...","SQL, Javascript, Other","Visual Studio ,Visual Studio Code (VSCode)",Kaggle Learn Courses,I do not share my work publicly,NaN,69999
296,296,296,489,30-34,Woman,United States of America,Master’s degree,Data Engineer,I have never written code,NaN,...,I do not know,0-999,$0 ($USD),"Business intelligence software (Salesforce, Ta...",NaN,NaN,"Kaggle Learn Courses,University Courses (resul...",NaN,NaN,999

In [65]:
df[df["salario"] == "1000000"].count()

level_0                  0
index                    0
time                     0
age                      0
gender                   0
pais                     0
formacion                0
puesto                   0
experiencia_prog         0
lenguaje_top             0
exp_ml                   0
tamaño_empresa           0
uso_ml                   0
salario                  0
inversion_ml             0
ppal_herramienta_data    0
lenguaje_prog            0
plataforma               0
plat_cursos              0
nubes                    0
plataforma_top           0
salario_max              0
dtype: int64

In [66]:
df["salario_max"].isnull().sum()

10582

In [67]:
df["salario"].isnull().sum()

10582

In [68]:
df.dtypes

level_0                   int64
index                     int64
time                      int64
age                      object
gender                   object
pais                     object
formacion                object
puesto                   object
experiencia_prog         object
lenguaje_top             object
exp_ml                   object
tamaño_empresa           object
uso_ml                   object
salario                  object
inversion_ml             object
ppal_herramienta_data    object
lenguaje_prog            object
plataforma               object
plat_cursos              object
nubes                    object
plataforma_top           object
salario_max              object
dtype: object

In [69]:
pd.to_numeric(df["salario_max"], errors = "coerce")

0        29999.0
1        69999.0
2          999.0
3        39999.0
4        39999.0
          ...
25968    19999.0
25969        NaN
25970      999.0
25971        NaN
25972      999.0
Name: salario_max, Length: 25973, dtype: float64

In [70]:
df.dtypes

level_0                   int64
index                     int64
time                      int64
age                      object
gender                   object
pais                     object
formacion                object
puesto                   object
experiencia_prog         object
lenguaje_top             object
exp_ml                   object
tamaño_empresa           object
uso_ml                   object
salario                  object
inversion_ml             object
ppal_herramienta_data    object
lenguaje_prog            object
plataforma               object
plat_cursos              object
nubes                    object
plataforma_top           object
salario_max              object
dtype: object

In [71]:
def salario_max(col):
    try:
        return int(col)

    except:
        return np.nan

In [72]:
df["salario_max"] = df["salario_max"].apply(salario_max)

In [73]:
df.dtypes

level_0                    int64
index                      int64
time                       int64
age                       object
gender                    object
pais                      object
formacion                 object
puesto                    object
experiencia_prog          object
lenguaje_top              object
exp_ml                    object
tamaño_empresa            object
uso_ml                    object
salario                   object
inversion_ml              object
ppal_herramienta_data     object
lenguaje_prog             object
plataforma                object
plat_cursos               object
nubes                     object
plataforma_top            object
salario_max              float64
dtype: object

In [74]:
df["salario_max"].isnull().sum()

10582

In [90]:
df.head(25)

,level_0,index,time,age,gender,pais,formacion,puesto,experiencia_prog,lenguaje_top,...,uso_ml,salario,inversion_ml,ppal_herramienta_data,lenguaje_prog,plataforma,plat_cursos,nubes,plataforma_top,salario_max
0,0,0,910,50-54,Man,India,Bachelor’s degree,Other,5-10 years,Python,...,No (we do not use ML methods),25000-29999,$100-$999,"Local development environments (RStudio, Jupyt...","Python, R",Vim / Emacs,"edX,Kaggle Learn Courses,DataCamp,Udacity,Udemy","GitHub , Kaggle",NaN,29999.0
1,1,1,784,50-54,Man,Indonesia,Master’s degree,Program/Project Manager,20+ years,Python,...,We are exploring ML methods (and may one day p...,60000-69999,$0 ($USD),"Advanced statistical software (SPSS, SAS, etc.)","SQL, C, C++, Java","Notepad++,Jupyter Notebook","Kaggle Learn Courses,Cloud-certification progr...",NaN,NaN,69999.0
2,2,2,924,22-24,Man,Pakistan,Master’s degree,Software Engineer,1-3 years,Python,...,I do not know,0-999,$0 ($USD),"Basic statistical software (Microsoft Excel, G...","Python, C++, Java","PyCharm ,Jupyter Notebook, Other",DataCamp,I do not share my work publicly,NaN,999.0
3,3,3,575,45-49,Man,Mexico,Doctoral degree,Research Scientist,20+ years,Python,...,I do not know,30000-39999,$0 ($USD),"Local development environments (RStudio, Jupyt...",Python,"Spyder,Jupyter Notebook",edX,NaN,NaN,39999.0
4,4,4,781,45-49,Man,India,Doctoral degree,Other,< 1 years,Python,...,We use ML methods for generating insights (but...,30000-39999,"$1000-$9,999","Local development environments (RStudio, Jupyt...","Python, C, MATLAB","Spyder,MATLAB ,Jupyter Notebook","Kaggle Learn Courses,Udemy",I do not share my work publicly,NaN,39999.0
5,5,5,1020,25-29,Woman,India,I prefer not to answer,Currently not employed,< 1 years,Python,...,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Cloud-certification programs (direct from AWS,...",NaN,NaN,NaN
6,6,6,141,18-21,Woman,India,Some college/university study without earning ...,Student,1-3 years,Python,...,NaN,NaN,NaN,NaN,"C++, Java, Javascript","Visual Studio ,Visual Studio Code (VSCode) ,Ju...",NaN,NaN,NaN,NaN
7,7,7,484,30-34,Man,India,Bachelor’s degree,Data Scientist,5-10 years,Python,...,"We have well established ML methods (i.e., mod...",15000-19999,$1-$99,"Basic statistical software (Microsoft Excel, G...",Python,Jupyter Notebook,"Kaggle Learn Courses,Udemy,LinkedIn Learning",Kaggle,NaN,19999.0
8,8,8,1744,22-24,Man,Russia,Bachelor’s degree,Currently not employed,3-5 years,Python,...,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL",Other,Kaggle Learn Courses,NaN,NaN,NaN
9,9,9,655,30-34,Man,Turkey,I prefer not to answer,Other,1-3 years,SQL,...,I do not know,0-999,$0 ($USD),"Business intelligence software (Salesforce, Ta...","Python, SQL","Spyder,Jupyter Notebook",Udemy,NaN,NaN,999.0
10,10,10,1777,40-44,Man,Australia,Doctoral degree,Other,1-3 years,R,...,No (we do not use ML methods),70000-79999,$1-$99,"Local development environments (RStudio, Jupyt...","Python, R, SQL","RStudio ,Jupyter Notebook","DataCamp,Udemy,University Courses (resulting i...",I do not share my work publicly,NaN,79999.0
11,11,11,3081,18-21,Woman,India,Master’s degree,Student,< 1 years,R,...,NaN,NaN,NaN,"Advanced statistical software (SPSS, SAS, etc.)","Python, R, C++","RStudio ,Jupyter Notebook","edX,DataCamp",NaN,NaN,NaN
12,12,12,1922,18-21,Woman,India,Master’s degree,Student,< 1 years,Python,...,NaN,NaN,NaN,NaN,"Python, MATLAB","RStudio ,MATLAB ,Jupyter Notebook",NaN,NaN,NaN,NaN
13,13,13,852,45-49,Man,Nigeria,Master’s degree,Program/Project Manager,5-10 years,Python,...,We are exploring ML methods (and may one day p...,2000-2999,$100-$999,"Local development environments (RStudio, Jupyt...","Python, SQL","Spyder,Jupyter Notebook","edX,Kaggle Learn Courses,DataCamp,Udemy",Kaggle,NaN,2999.0
14,14,14,838,22-24,Man,Nigeria,Bachelor’s degree,Other,< 1 years,Python,...,No (we do not use ML methods),0-999,$0 ($USD),"Basic statistical software (Microsoft Excel, G...",Python,Visual Studio Code (VSCode),NaN,NaN,NaN,999.0
15,15,15,563,35-39,Man,Greece,Doctoral degree,Research Scientist,10-20 years,Python,...,We use ML methods for generating insights (but...,10000-14999,$0 ($USD),"Local development environments (RStudio, Jupyt...","Python, C, C++, MATLAB",Spyder,"Udacity,University Courses (resulting in a uni...",NaN,NaN,14999.0
16,16,16,1315,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,...,We are exploring ML methods (and may one day p...,2000-2999,$0 ($USD),"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Kaggle Learn Courses,Cloud-certification progr...",NaN,NaN,2999.0
17,17,17,479,18-21,Man,Pakistan,Bachelor’s degree,Data Scientist,1-3 years,Python,...,We use ML methods for generating insights (but...,0-999,$0 ($USD),"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","DataCamp,Udacity,LinkedIn Learning,University ...",NaN,NaN,999.0
18,18,18,249,22-24,Man,Japan,Master’s degree,Software Engineer,3-5 years,Python,...,NaN,NaN,NaN,NaN,"Python, SQL, C, Java, Javascript","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",NaN,NaN,NaN,NaN
19,19,19,650,30-34,Man,Egypt,Bachelor’s degree,Other,< 1 years,R,...,I do not know,5000-7499,$0 ($USD),"Basic statistical software (Microsoft Excel, G...",None,"PyCharm , Sublime Text","Kaggle Learn Courses,Udacity,Udemy",I do not share my work publicly,NaN,7499.0
20,20,20,1461,70+,Man,Singapore,Bachelor’s degree,Other,< 1 years,Python,...,I do not know,20000-24999,$1-$99,"Basic statistical software (Microsoft Excel, G...",Python,"Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",None,I do not share my work publicly,NaN,24999.0
21,21,21,551,25-29,Woman,Turkey,Bachelor’s degree,Data Scientist,3-5 years,R,...,"We recently started using ML methods (i.e., mo...",1000-1999,$100-$999,"Advanced statistical software (SPSS, SAS, etc.)","Python, R, SQL, C++","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...",DataCamp,"GitHub , Kaggle , Colab",NaN,1999.0
22,22,22,258,30-34,Man,Indonesia,Master’s degree,Student,1-3 years,R,...,NaN,NaN,NaN,"Local development environments (RStudio, Jupyt...",R,RStudio,Other,NaN,NaN,NaN
23,23,23,773,35-39,Man,Brazil,Master’s degree,Machine Learning Engineer,20+ years,SQL,...,"We have well established ML methods (i.e., mod...",100000-124999,$0 ($USD),"Local development environments (RStudio, Jupyt...","Python, SQL, C++","PyCharm ,Jupyter Notebook","Udacity,Udemy",NaN,NaN,124999.0
24,24,24,630,18-21,Man,India,Bachelor’s degree,Student,1-3 years,Python,...,NaN,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, R, SQL, C, C++, MATLAB","RStudio ,Visual Studio Code (VSCode) ,PyCharm ...","Kaggle Learn Courses,Fast.ai,Udemy",NaN,NaN,NaN

In [76]:
df["salario_max"].isnull().value_counts()

False    15391
True     10582
Name: salario_max, dtype: int64

In [85]:
df_estudiantes = df[df["puesto"] == "Student"]

In [92]:
df_estudiantes.shape

(6804, 22)

In [100]:
df_estudiantes["salario_max"].isnull().sum()

6804

In [89]:
df_other = df[df["puesto"] == "Other"]

In [93]:
df_other.shape

(2393, 22)

In [99]:
df_other["salario_max"].isnull().sum()

189

In [91]:
df_desem = df[df["puesto"] == "Currently not employed"]

In [96]:
df_desem.shape

(1986, 22)

In [98]:
df_desem["salario_max"].isnull().sum()

1986

categorizar los salarios (confiamos en el .cut())
el cosito del KNN