### Sprint Review III

¿Qué logramos en este sprint?:
- Lenguaje_prog
- Salario_max (casi lo hemos conseguido categorizar)
- Varias visualizaciones (gráficas)
- Separar salarios por países
- Importar la librería de europa y filtrar los datos por Europa
- Profundizar en las preguntas y aproximarnos a la elaboración de dataframes al respecto de ellas

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np
import sidetable
import re

In [2]:
df = pd.read_pickle("data/data_limpieza.pickle")

In [ ]:
df.isnull().sum()*100/df.shape[0]

#### Histograma por puestos segun especialidad

In [ ]:
plt.figure(figsize =(10,7))

fig = sns.histplot(x=df['puesto'], data = df, hue = 'puesto', kde=True)
fig.set_title('Histograma de los puestos de trabajo segun especialidad')
plt.xticks(rotation= 75)

plt.show()

#### Counplot por sexos segun especialidad

In [ ]:
plt.figure(figsize = (10, 10))

fig = sns.countplot(data = df, y = "puesto", hue = "gender", palette = "husl", edgecolor = "black")
fig.set(xlabel = "Cantidad", ylabel = "Puesto")

sns.set(font = "serif")

plt.legend(bbox_to_anchor = (0.7, 0.7))
plt.xlabel("Cantidad", fontsize = 20, font = "serif")
plt.ylabel("Puesto", fontsize = 20, font = "serif")

plt.xticks(fontsize = 14)
plt.yticks(fontsize = 14);

#### Counplot por puesto segun la formacion

In [ ]:
plt.figure( figsize=(25,6))

fig = sns.countplot(x = 'puesto', data = df, hue= 'formacion')
plt.xticks(rotation = 45)

plt.show();

#### Counplot por puesto segun herramientas data

In [ ]:
plt.figure( figsize=(25,6))

fig = sns.countplot(x = 'puesto', data = df, hue= 'ppal_herramienta_data')

plt.xticks(rotation = 45)
plt.show();

----

#### Comenzamos a analizar la columna lenguaje_prog:

In [ ]:
df.lenguaje_prog.value_counts()

In [ ]:
print(df["lenguaje_prog"].isnull().sum())

In [ ]:
df_lenguajeprog_sinnulos = df.copy()

In [ ]:
df_lenguajeprog_sinnulos["lenguaje_prog"].replace(np.nan,"unknown",inplace=True)

In [ ]:
df_lenguajeprog_sinnulos.isnull().sum()

In [ ]:
df_lenguajeprog_sinnulos['Lenguaje']= df_lenguajeprog_sinnulos["lenguaje_prog"].apply(lambda x: x.split(','))

     Una vez categorizados los nulos ya podemos separar la columna

In [ ]:
df_lenguajeprog_sinnulos.head(2)

       Esta funcion nos ha creado una sola columna con una lista de valores.
       Decidimos separar cada respuesta en  una columna separada.

In [ ]:
df_lenguajeprog_sinnulos[['1','2','3','4','5','6','7','8','9','10','11','12']] = df_lenguajeprog_sinnulos["lenguaje_prog"].str.split(',', expand=True, n=-1)

In [ ]:
pd.options.display.max_columns=None
df_lenguajeprog_sinnulos.sample(5)

In [ ]:
df_lenguajeprog_sinnulos.isnull().sum()

In [ ]:
df_lenguajeprog_sinnulos["1"][0:3]

In [ ]:
df_lenguajeprog_sinnulos["1"].value_counts()

In [ ]:
df_lenguajeprog_sinnulos["2"].value_counts()

In [ ]:
df_lenguajeprog_sinnulos["3"].value_counts()

In [ ]:
df_lenguajeprog_sinnulos["4"].value_counts()

In [ ]:
df_lenguajeprog_sinnulos["5"].value_counts()

In [ ]:
df_lenguajeprog_sinnulos.columns

----

In [ ]:
df_explode =df_lenguajeprog_sinnulos.explode('Lenguaje')

In [ ]:
df_group_leng =pd.DataFrame(df_explode.groupby('Lenguaje')['Lenguaje'].count())
df_group_leng

In [ ]:
df_group_leng.rename(columns={'Lenguaje':'conteo_eleccion'}, inplace= True)

In [ ]:
df_group_leng.reset_index(inplace=True)

In [ ]:
df_group_leng

#### Pie por tipo de lenguaje de programacion

In [ ]:
# Hacemos la grafica pero para el recuento total de registros respecto del explode.
plt.figure()

colors = sns.color_palette('pastel')[0:13]

plt.pie(df_group_leng['conteo_eleccion'],colors= colors, labels=df_group_leng["Lenguaje"], autopct= '%.0f%%', radius= 3)
plt.title('Eleccion de lenguaje de programacion')

plt.show();

---

        Realizamos analisis respecto a los registros del DataFrame original sin tener en cuenta el explode.

In [ ]:
total=df_lenguajeprog_sinnulos.shape[0]
total

In [ ]:
def porcentajes (x):
    return round((x/total)*100, 2)

In [ ]:
df_group_leng['porcentaje']= df_group_leng['conteo_eleccion'].apply(porcentajes)
df_group_leng

In [ ]:
df_group_leng.dtypes

#### Barplot con los porcentajes segun tipo de lenguaje de programacion

In [ ]:
plt.figure( figsize=(25,6))

sns.set_color_codes("pastel")
sns.set(font = "serif")

ordenado =df_group_leng.sort_values("porcentaje", ascending=False)
fig = sns.barplot(x = 'porcentaje', y= 'Lenguaje', data = ordenado, edgecolor = 'black')

plt.title('Porcentaje de uso de lenguaje de programacion')
plt.xticks(rotation = 45)

plt.show();

        Vemos que realizar una comparacion entre variables categoricas con el dataframe que ya tiene agrupado por lenguaje no nos sirve, por lo que vamos a trabajar directamente sobre el df_explode que tiene todos los registros.

In [ ]:
df_explode.columns

In [ ]:
df_lenguajes=df_explode[['gender','puesto','formacion','experiencia_prog', 'Lenguaje']]
df_lenguajes

#### Countplot segun puesto y lenguajes de programacion

In [ ]:
plt.figure( figsize=(25,6))

sns.set_color_codes("pastel")
sns.set(font = "serif")

fig = sns.countplot(x = 'puesto', data = df_lenguajes, hue= 'Lenguaje',edgecolor = 'black')

plt.title('Porcentaje de uso de lenguaje de programacion')
plt.xticks(rotation = 45)
plt.show();

In [ ]:
lista_puesto= ['Program/Project Manager',
 'Software Engineer',
 'Research Scientist',
 'Data Scientist',
 'Data Analyst',
 'Machine Learning Engineer',
 'Business Analyst',
 'Data Engineer',
 'Product Manager',
 'Statistician',
 'Developer Relations/Advocacy',
 'DBA/Database Engineer']

In [ ]:
df_puesto_filtrado = df_explode[df_explode['puesto'].isin(lista_puesto)]
df_puesto_filtrado.head(2)

In [ ]:
df_puesto_filtrado['puesto'].unique()

In [ ]:
df['puesto'].value_counts()

----

#### Comenzamos a trabajar con la columna de salario

In [ ]:
df['salario'].unique()

In [ ]:
df['salario']=df["salario"].str.replace(',','').str.replace('$','').str.replace('>','-') 
#Quitamos todos los simbolos que estaban por demas en el string.

In [ ]:
df['salario_max']=df["salario"].str.split('-', n=1, expand=True).get(1) 
# Separamos el rango del salario para quedarnos con el mayor y poder convertir la columna en numerica

In [ ]:
df['salario_max'].unique()

In [ ]:
df[df["salario"] == "1000000"].count()

In [ ]:
print(df["salario_max"].isnull().sum())
print(df["salario"].isnull().sum())

In [ ]:
df.dtypes

In [ ]:
df['salario_max']=df['salario_max'].astype("Int64", errors= 'ignore')
df['salario_max'].info

In [ ]:
df["salario_max"].isnull().sum()

In [ ]:
df_estudiantes = df[df["puesto"] == "Student"]
print(df_estudiantes.shape)
print('----------')
print(df_estudiantes["salario_max"].isnull().sum())

In [ ]:
df_other = df[df["puesto"] == "Other"]
print(df_other.shape)
print('----------')
print(df_other["salario_max"].isnull().sum())

In [ ]:
df_desem = df[df["puesto"] == "Currently not employed"]
print(df_desem.shape)
print('----------')
print(df_desem["salario_max"].isnull().sum())

### Students, Others, Currently not employed, crear un df donde no los encluya para poder hacer un KNN

In [ ]:
df["rango_salario"] = pd.cut(df["salario_max"], 12, right = True, labels = ["Salario muy bajo",
                "Salario bajo", "Salario bajo-medio", "Salario bajo-medio", "Salario medio", "Salario medio-alto", 
                "Salario alto", "Salario alto", "Salario muy alto", "Salario muy alto", "Salario altísimo", "Salario altísimo"], 
                ordered = False)

In [ ]:
df.sample(5)

In [ ]:
df_salarios_pais= pd.DataFrame(df.groupby(['pais','gender', 'puesto'])['salario_max'].mean().round(2))

#### Importamos libreria AWOC para trabajar con los paises

-----

### COMO SEPARAR POR EUROPA EN UNA COLUMNA

In [ ]:
pip install a-world-of-countries #Instalacion de libreria

In [4]:
# Import the AWOC package.
import awoc

# Initialize the AWOC class.
my_world = awoc.AWOC()

In [5]:
europa= my_world.get_countries_list_of('Europe')
europa

In [6]:
df['pais']
europa

['Albania',
 'Andorra',
 'Austria',
 'Belarus',
 'Belgium',
 'Bosnia and Herzegovina',
 'Bulgaria',
 'Croatia',
 'Cyprus',
 'Czech Republic',
 'Denmark',
 'Estonia',
 'Faroe Islands',
 'Finland',
 'France',
 'Germany',
 'Gibraltar',
 'Greece',
 'Guernsey',
 'Hungary',
 'Iceland',
 'Ireland',
 'Isle of Man',
 'Italy',
 'Jersey',
 'Kosovo',
 'Latvia',
 'Liechtenstein',
 'Lithuania',
 'Luxembourg',
 'Macedonia',
 'Malta',
 'Moldova',
 'Monaco',
 'Montenegro',
 'Netherlands',
 'Norway',
 'Poland',
 'Portugal',
 'Romania',
 'Russia',
 'San Marino',
 'Serbia',
 'Slovakia',
 'Slovenia',
 'Spain',
 'Svalbard and Jan Mayen',
 'Sweden',
 'Switzerland',
 'Ukraine',
 'United Kingdom',
 'Vatican']

In [19]:
df['europa']= 'NO'
for x in df['pais'].unique():
    if x in europa: 
        df.loc[df['pais'] == x, ['europa']] = 'SI'
            #print ('YES')

In [21]:
df.sample(5)

,level_0,index,time,age,gender,pais,formacion,puesto,experiencia_prog,lenguaje_top,...,salario,inversion_ml,ppal_herramienta_data,lenguaje_prog,plataforma,plat_cursos,nubes,plataforma_top,salario_max,europa
18046,18046,18046,1881,30-34,Woman,Egypt,Bachelor’s degree,Business Analyst,< 1 years,Python,...,NaN,NaN,NaN,"Python, Javascript","Visual Studio ,Visual Studio Code (VSCode)",NaN,NaN,NaN,NaN,NO
14843,14843,14843,149,22-24,Man,Austria,Master’s degree,Student,< 1 years,C++,...,NaN,NaN,NaN,"C, C++","Visual Studio Code (VSCode) ,PyCharm ,MATLAB",NaN,NaN,NaN,NaN,SI
18500,18500,18500,549,18-21,Woman,India,Bachelor’s degree,Student,< 1 years,Python,...,NaN,NaN,"Business intelligence software (Salesforce, Ta...","Python, SQL, C, C++","Spyder,Jupyter Notebook",NaN,NaN,NaN,NaN,NO
2913,2913,2913,762,25-29,Woman,United States of America,Master’s degree,Data Analyst,< 1 years,Python,...,15000-19999,"$1000-$9,999","Basic statistical software (Microsoft Excel, G...","Python, R, MATLAB","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Kaggle Learn Courses,DataCamp,Udemy,LinkedIn L...","GitHub , Kaggle , Colab",They all had a similarly enjoyable developer e...,19999,NO
21688,21688,21688,520,22-24,Woman,United States of America,Bachelor’s degree,Data Analyst,1-3 years,MATLAB,...,70000-79999,$0 ($USD),"Basic statistical software (Microsoft Excel, G...","Python, SQL, MATLAB, Other","PyCharm ,MATLAB ,Jupyter Notebook",DataCamp,NaN,NaN,79999,NO

In [17]:
df_europa = df[df['europa']=='SI']
df_europa.head(3)

,level_0,index,time,age,gender,pais,formacion,puesto,experiencia_prog,lenguaje_top,...,salario,inversion_ml,ppal_herramienta_data,lenguaje_prog,plataforma,plat_cursos,nubes,plataforma_top,salario_max,europa
8,8,8,1744,22-24,Man,Russia,Bachelor’s degree,Currently not employed,3-5 years,Python,...,NaN,NaN,"Basic statistical software (Microsoft Excel, G...","Python, SQL",Other,Kaggle Learn Courses,NaN,NaN,NaN,SI
15,15,15,563,35-39,Man,Greece,Doctoral degree,Research Scientist,10-20 years,Python,...,10000-14999,$0 ($USD),"Local development environments (RStudio, Jupyt...","Python, C, C++, MATLAB",Spyder,"Udacity,University Courses (resulting in a uni...",NaN,NaN,14999,SI
16,16,16,1315,50-54,Man,Belgium,Bachelor’s degree,Data Analyst,20+ years,Python,...,2000-2999,$0 ($USD),"Local development environments (RStudio, Jupyt...","Python, SQL","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Kaggle Learn Courses,Cloud-certification progr...",NaN,NaN,2999,SI

In [24]:
df['pais'].unique()

array(['India', 'Indonesia', 'Pakistan', 'Mexico', 'Russia', 'Turkey',
       'Australia', 'Nigeria', 'Greece', 'Belgium', 'Japan', 'Egypt',
       'Singapore', 'Brazil', 'Poland', 'China',
       'Iran, Islamic Republic of...', 'United States of America',
       'Italy', 'Viet Nam', 'Israel', 'Peru', 'South Africa', 'Other',
       'Spain', 'Bangladesh',
       'United Kingdom of Great Britain and Northern Ireland', 'France',
       'Switzerland', 'Algeria', 'Tunisia', 'Argentina', 'Sweden',
       'Colombia', 'I do not wish to disclose my location', 'Canada',
       'Chile', 'Netherlands', 'Ukraine', 'Saudi Arabia', 'Romania',
       'Morocco', 'Austria', 'Taiwan', 'Kenya', 'Belarus', 'Ireland',
       'Portugal', 'Hong Kong (S.A.R.)', 'Denmark', 'Germany',
       'South Korea', 'Philippines', 'Sri Lanka', 'United Arab Emirates',
       'Uganda', 'Ghana', 'Malaysia', 'Thailand', 'Nepal', 'Kazakhstan',
       'Ethiopia', 'Iraq', 'Ecuador', 'Norway', 'Czech Republic'],
      dtype=object)

In [23]:
df_europa['pais'].unique()

array(['Russia', 'Greece', 'Belgium', 'Poland', 'Italy', 'Spain',
       'France', 'Switzerland', 'Sweden', 'Netherlands', 'Ukraine',
       'Romania', 'Austria', 'Belarus', 'Ireland', 'Portugal', 'Denmark',
       'Germany', 'Norway', 'Czech Republic'], dtype=object)

In [22]:
df['europa'].unique()

array(['NO', 'SI'], dtype=object)

----

#### Próximos objetivos:
- Filtrar por todos los países de Europa, para realizar el analisis, según genero, salario, puesto, formación.
- Terminar de acordar los dataframes a las preguntas
- Elaborar las conclusiones de cada pregunta
- Organizar los archivos por preguntas (por ejemplo) o por tipo (EDA o limpieza) y hacer el README
- Presentación, plasmar tipo de idea ¨empresa de venta programas¨

### - ¿Cual es el ratio de hombres y mujeres segun el perfil? (posibilidad nivel mundial)
- Columnas que toca:
        - gender= no tiene nulos asique esta lista, verificar unique para descartar que no tenga cosas raras.
        - puesto = tampoco tiene nulos, ver uniques y ver si recategorizamos por menos cantidades.
        - formacion = tampoco tiene nulos, ver uniques y ver si recategorizamos  ver que hacemos con los estudiantes y otros.
### - ¿Cual es perfil educativo para cada puesto? (Europa)
- Columnas que toca:
    - puesto = no tiene nulos ver si categorizamos mejor o si nos enfocamos en uno en particular.
    - formacion= no tiene nulos, ver que hacer con studens o los que no respondieron.
Ver si damos vuelta de rosca y lo profundizamos mas para mujeres y un pais o continente especifico!
### - Herramientas mas utilizadas segun los perfiles. (leguaje_prog y plataforma)(Europa)
- Columnas que toca:
    - ppal_herramienta_data: tiene muchos muchos nulos, ver si podemos aplicar alguno de los metodos de imputer para solucionarlo o en el caso que lo sesgemos solo para un area especifica volver a verificar nulos ahi.
    - puesto = no tiene nulos, ver lo de la recategorizacion
Me parece interesante poder mezclar esta pregunta con otras dos columnas mas como son lenguaje_prog y plataforma para poder tener el combo de todo lo que se usa en ese area.
### - ¿Cuál es la diferencia de salarios entre hombres y mujeres segun el perfil? 
- Columnas que toca:
    - gender: no tiene nulos
    - salarios : poder hacer analisis de numeros con medias y demas segun genero.. verificar que cantidad de datos de hombre y mujer hay en el dataframe para jugar un poco con la poderacion.
### - Perfil segun pais que herramientas usan, en coparativa con España.
- Columnas que toca:
    -pais: no tiene nulos, los vamos a fraccionar y analizar solo algunos?
    -herramientas de trabajo tenemos que alinearlo con  loque hagamos con los paises y demas preguntas.
Extras:
- ¿Cómo se distribuye este porcentaje segun los paises?