In [1]:
import pandas as pd

In [7]:
df=pd.read_csv('data/columnas_final.csv')

Vamos a realizar un EDA sobre los datos de nuestro nuevo DataFrame que contiene solo las columnas seleciconadas para el analisis.

In [8]:
df.duplicated().sum()

0

In [9]:
df.tail()

,level_0,index,time,age,gender,pais,formacion,puesto,experiencia_prog,lenguaje_top,...,tamaño_empresa,uso_ml,salario,inversion_ml,ppal_herramienta_data,lenguaje_prog,plataforma,plat_cursos,nubes,plataforma_top
25968,25968,25968,1756,30-34,Man,Egypt,Bachelor’s degree,Data Analyst,1-3 years,Python,...,"10,000 or more employees",We are exploring ML methods (and may one day p...,"15,000-19,999","$1000-$9,999","Business intelligence software (Salesforce, Ta...","Python, SQL, Javascript, Bash","Jupyter (JupyterLab, Jupyter Notebooks, etc) ,...","Kaggle Learn Courses,DataCamp,Udacity,Udemy,Li...","GitHub , Colab",Amazon Web Services (AWS)
25969,25969,25969,253,22-24,Man,China,Master’s degree,Student,1-3 years,Python,...,NaN,NaN,NaN,NaN,NaN,Python,PyCharm,NaN,NaN,NaN
25970,25970,25970,494,50-54,Man,Sweden,Doctoral degree,Research Scientist,I have never written code,NaN,...,"1000-9,999 employees",I do not know,$0-999,$1-$99,"Basic statistical software (Microsoft Excel, G...",NaN,NaN,LinkedIn Learning,NaN,NaN
25971,25971,25971,277,45-49,Man,United States of America,Master’s degree,Data Scientist,5-10 years,Python,...,"10,000 or more employees","We have well established ML methods (i.e., mod...",NaN,NaN,NaN,"Python, SQL","Notepad++,Jupyter Notebook",NaN,NaN,NaN
25972,25972,25972,255,18-21,Man,India,Bachelor’s degree,Business Analyst,I have never written code,NaN,...,0-49 employees,I do not know,$0-999,$0 ($USD),"Advanced statistical software (SPSS, SAS, etc.)",NaN,NaN,None,NaN,NaN

In [10]:
df.shape

(25973, 21)